*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.grid 
{
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}
@keyframes fadeIn 
{
    from{
        transform: translateX(-100%);
        opacity: 0;
    }to{
        transform: translateX(0%);
        opacity: 1;
    }
}
@keyframes fadeOut 
{
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}